.form{
  border: 2px solid rgb(220, 218, 218);
  padding: 1em;
  border-radius: 15px;
}

h2{
  color: white;
}

.input{
  padding: 5px;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  max-width: 20em;
  width: 15em;
  margin: 5px;
  font-size: 20px;
}

.btn{
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin: 10px 0;
  font-size: 16px;
}

p{
  color: red;
}